@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}
h1,h2 ,h3 ,h4 ,p,a{
    color:white;
}
body {
    background-color:black;
    font-family: 'Poppins', sans-serif;
}
.logo:hover{
    transform: rotate(45deg);
}
/* Menu */
.navigation-bar {
    display:flex;
    align-items:center;
    padding:20px;
  
}

  /* Search box */
.search-box {
    top:50%;
    left :50%;
    background-color:white;
    height:40px;
    border-radius:40px;
    padding:0px;
    padding-bottom:-10px;
    
}
.search-btn{
    color:#e84118;
    float:bottom;
    width:40px;
    height:40px;
    border-radius: 50%;
    background:#2f3640;
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-box:hover>.search-txt{
    width:240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn{
    background: white;
}
.search-txt{
    border:0;
    border:none;
    background:none;
    outline:none;
    float:left;
    height:40px;
    color:black;
    font-family: 'Poppins',sans-serif;
    font-size:16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0;
}



/* Menu */
nav {
    flex : 1;
    text-align:right;

}
nav ul {
    display:inline-block;
    list-style:none;
}
nav ul li {
    display: inline-block;
    margin-bottom:10px;
    float: left;
    margin-right:40px;
    position: relative;
}
nav ul li a{
    display: block;
    padding: 13px 10px;
}
nav ul li ul{
    display: none;
    position:absolute;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a:hover{
    color: red;
}
a {
    text-decoration:none;
    color:white;
}
p {
    color:white;
}


/* Body and footer editing */
.container {
    max-width:1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

/* Footer */
.col-2 {
    flex-basis:50%;
    min-width:300px;
}
.col-2 img {
    max-width: 100%;
}
.col-2 h1 {
    font-size:50px;
    color:white;
    line-height:60px;
    margin:25px 0;
}




/* Search Button at Menu */
.btn {
    display: inline-block;
    background:white;
    color:black;
    padding:8px 30px;
    margin:30px 0 ;
    border-radius:30px;
    transition: background 0.5s;
}
.btn:hover {
    background-color:lightslategray;
}
.header .row {
    margin-top:70px;
}



/* Footer editing */

.col-3 {
    flex-basis: 30%;
    min-width:250px;
    margin-bottom:30px;
}
.col-3 img {
    width: 100%;

}
.col-4 {
    flex-basis:25%;
    padding:10px;
    min-width:10px;
    margin-bottom:50px;
    transition: transform 0.5s;
}
.col-4 img {
    width:100%;

}

/* Footer Editing */
.col-4 p {
    font-size:14px;

}
.col-4:hover {
    transform:translateY(-5px);
}


/* Footer */
.footer {   
    font-size:14px;
    padding:60px 0 20px;
}
.footer p{
    color:white;

}
.footer h3 {
    color:white;
    margin-bottom:20px;
}
.footer-col-1, .footer-col-2 ,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom:20px;
}
.footer-col-1{
    flex-basis:30%;
}
.footer-col-2{
    flex:1;
    text-align:center; 
}
.footer-col-2 img{
    width:180px;
    margin-bottom:20px;
}
.footer-col-3 , .footer-col-4 {
    flex-basis:12%;
    text-align:center;
color: white;
padding-left: 100px;
}

/* App footer logo */
.app-logo {
    margin-top:30px;
    position:relative;
    background-color:white;
}
.googleplay {
    position:absolute;
    top:0;
}
.appstore {
    position:absolute;
    top:0;
    right:50px;
    
}
.app-logo img {
    width:140px;

}


/* Footer line
 */
.footer hr  {
    border:none;
    background:white;
    height: 1px;
    margin:20px 0;

}
/* Our company */
.copyright{
    text-align:center;
}

/* Menu icon */
 .menu-icon {
    width:28px;
    background-color:white;
    border-radius: 3px;
    margin-left:20px;
    margin-bottom:8.5px;
    display:none;
} 
  

/* Pc categories */
.pc-categories{
    width: 80%;
    height:150px;
    margin:20px auto;
    display: flex;
    justify-content: space-around;
}
.categories-img {
    display: inline-block;
    width: 200px;
    height:100px;
    color:white;
    width: 266px;
    text-align: center;
    position: relative;
}
.title-categories{
    position: absolute;
    top:40px;
    left:105px;
    font-weight: bold;
    font-family: 'Poppins' ,sans-serif;

}
.categories-img img{
    width: 50%;
    border-radius:4px;
    opacity: 0.6;
    cursor:pointer;
}

/* Desktop title */
.desktop-title{
    text-align: center;
    margin-top:20px;
}
.desktop-title hr{
    margin:0 auto;
    margin-top:10px;
}



/*  Table Position & editing*/

table {
    position: relative;  
    width:80%;
    margin:0 auto;
    border-collapse: collapse;
    background-color:black;
}

table td{
    border:1px double grey;
    height: 400px;
    width:400px;
 
}

table h4 {
    padding-left:15px;
}
table h3 {
    padding:10px;
}
table ol li{
    font-size:14px;
}
table ol {
    list-style-type: circle;
    padding:25px;
}
table img{
    width:100%;
}

.pc-title {
    width:100%;
    height:40px;
    margin-bottom:60px;
}
.pc-img {
    width:100%;
    height:200px;
    margin-bottom: 50px;
}
.pc-list {
    height:270px;
    
}


/* Products button */
.desk-btn {
    /* width:95%;
    margin:0 auto; */
    margin-bottom:10px;
    display: flex;
    justify-content: space-around;
    
}

.desk-btn input{
    width:115px;
    height:35px;
    font-size: 14px;
    margin: 5px;
    text-align: center;
    font-family: 'Poppins' ,sans-serif;
    border:0.5px solid grey;
    background-color: black;
    color:grey;
}
#LearnMore:hover{
    border:0.5px solid white;
    color:white;
    cursor:pointer;
}
#Compare:hover{
    color:white;
    border:0;
    background-color: orangered;
    cursor: pointer;
}


